.form-section{
  text-align: center;
  &__title{
    text-transform: uppercase;
    font-size: 18px;
    @include font-family('PT Sans Regular', bold, normal);
    margin: 40px 0 25px;
    @media (min-width: $screen-md){
      font-size: 30px;
      margin: 70px 0 25px;
    }
    @media (min-width: $screen-xl){
      margin: 100px 0 30px;
    }
  }
  &__description{
    text-transform: uppercase;
    font-size: 14px;
    line-height: (24/14);
    margin: 15px 0;
    @media (min-width: $screen-md){
      max-width: 60%;
      margin: 15px auto 50px;
    }
    @media (min-width: $screen-xl){
      margin: 15px auto 60px;
    }
  }
}

.form{
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $screen-md){
    padding: 0 40px;
  }
  @media (min-width: $screen-xl){
    padding: 0 100px;
  }

  &__fieldset{
    flex: 1 1 100%;
    max-width: 100%;
    border: none;
    padding: 0;
    margin: 20px 0 10px;
    position: relative;
    @media (min-width: $screen-md){
      margin-top: 0;
    }

    &:before{
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: #e5e5e5;
      position: absolute;
      left: 0;
      top: -20px;
      @media (min-width: $screen-md){
        display: none;
      }
    }
    &--info{
      @media (min-width: $screen-md){
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 40px;
      }
    }
    &--contacts{
      @media (min-width: $screen-md){
        margin-top: 50px;
        position: relative;
      }
      &:after{
        @media (min-width: $screen-md){
          content: '';
          height: 1px;
          width: calc(100% - 40px);
          background-color: #e5e5e5;
          top: 12px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          z-index: 1;
        }
      }
      .form__item{
        flex-wrap: wrap;
        position: relative;
        @media (min-width: $screen-xl){
          flex: 0 0 50%;
          max-width: 50%;
          flex-wrap: nowrap;
          padding: 50px 20px 0;
        }
        &:first-of-type{
          @media (min-width: $screen-xl){
            padding-right: 80px;
          }
        }
      }
      .form__text{
        padding: 10px 20px;
      }
      .form__title{
        @media (min-width: $screen-md){
          margin-bottom: 10px;
          position: relative;
          z-index: 2;
          padding: 0 30px;
          background-color: $white;
        }
        @media (min-width: $screen-xl){
          margin-bottom: 30px;
        }
      }
      .form__list{
        @media (min-width: $screen-xl){
          display: flex;
        }
      }
    }
    &--impression{
      &:after{
        @media (min-width: $screen-md){
          content: '';
          display: block;
          right: 0;
          top: 50%;
          width: 2px;
          height: 90%;
          transform: translateY(-50%);
          background-color: #e5e5e5;
          position: absolute;
        }
      }
      @media (min-width: $screen-md){
        order: -1;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    &--sights{
      @media (min-width: $screen-md){
        margin-top: 30px;
        position: relative;
      }
      @media (min-width: $screen-xl){
        margin-top: 50px;
      }

      &:after{
        @media (min-width: $screen-md){
          content: '';
          height: 1px;
          width: calc(100% - 40px);
          background-color: #e5e5e5;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          z-index: 1;
        }
      }
      .form__title{
        @media (min-width: $screen-md){
          margin-bottom: 10px;
          position: relative;
          z-index: 2;
          padding: 0 30px;
          background-color: $white;
          max-width: 50%;
        }
        @media (min-width: $screen-xl){
          max-width: 400px;
        }
      }
      .form__list{
        @media (min-width: $screen-md){
          display: flex;
          flex-wrap: wrap;
          padding: 0 90px;
          margin-top: 30px;
        }
        @media (min-width: $screen-xl){
          padding: 0;
          margin-top: 15px;
        }
      }
      .form__sights-block{
        @media (min-width: $screen-md){
          flex: 0 0 50%;
          max-width: 50%;
        }
        @media (min-width: $screen-xl){
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }
    &--text{
      @media (min-width: $screen-md){
        margin-top: 60px;
        position: relative;
      }
      @media (min-width: $screen-xl){
        margin-top: 50px;
      }
      &:after{
        @media (min-width: $screen-md){
          content: '';
          height: 1px;
          width: calc(100% - 40px);
          background-color: #e5e5e5;
          top: 12px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          z-index: 1;
        }
      }
      .form__title{
        @media (min-width: $screen-md){
          margin-bottom: 45px;
          position: relative;
          z-index: 2;
          padding: 0 30px;
          background-color: $white;
        }
      }
    }
  }
  &__title{
    margin: 5px 0 15px;
    @include font-family('PT Sans Regular', bold, normal);
    text-transform: uppercase;
    font-size: 18px;
    @media (min-width: $screen-md){
      font-size: 21px;
      margin: 5px 0 50px;
    }
    @media (min-width: $screen-xl){
      margin: 0 0 40px;
    }
  }
  &__list{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  &__item{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 12px 20px;
  }
  &__text{
    flex: 0 0 auto;
    display: inline-block;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
  }
  &__input{
    font-size: 18px;
    flex: 1 1 auto;
    width: 100%;
    background-color: $grey;
    padding: 15px;
    border: none;
    @include font-family('PT Sans Regular', bold, normal);
    color: $text-color;
    transition: background-color 0.325s 0s ease;
    &:hover{
      background-color: $grey-bg-icon;
    }
    &:focus{
      outline: 3px solid $grey-bg-icon;
      background-color: $white;
    }

    &::-webkit-input-placeholder{
      color: $text-color;
    }
    &::placeholder{
      color: $text-color;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;
    }
    &:focus::placeholder{
      color: transparent;
    }
  }
  &__label{
    width: 100%;
    position: relative;
    &:after{
      content: '';
      background-color: $grey-bg-icon;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      height: 100%;
      width: 50px;
    }
    svg{
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 25px;
      transform: translate(50%, -50%);
    }
  }

  &__impression-block{
    text-align: left;
    padding: 25px 20px;
    @media (min-width: $screen-md){
      text-align: center;
      padding-left: 0;
    }
    @media (min-width: $screen-xl){
      text-align: left;
      padding: 25px 25px;
    }
    input[type="radio"]{
      display: none;
      &:hover ~ label:before{
        background-color: $grey-bg-icon;
      }
      &:active ~ label:before{
        background-color: #d5d5d5;
      }
      &:active ~ label:after{
        display: block;
        opacity: 0.3;
      }
      &:checked ~ label:after{
        display: block;
      }
    }
    label{
      @include font-family('PT Sans Regular', bold, normal);
      position: relative;
      padding-left: 80px;
      &:before{
        content: '';
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $grey;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        @include transition();
      }
      &:after{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $grey-dark;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translate(-50%, -50%);
        @include transition();
        display: none;
      }
    }
  }

  &__sights-block{
    text-align: left;
    padding: 25px 20px;
    input[type="checkbox"]{
      display: none;
      &:hover ~ label:before{
        background-color: $grey-bg-icon;
      }
      &:active ~ label:before{
        background-color: #d5d5d5;
      }
      &:active ~ label:after{
        display: block;
        opacity: 0.3;
      }
      &:checked ~ label:after{
        display: block;
      }
    }
    label{
      @include font-family('PT Sans Regular', bold, normal);
      position: relative;
      padding-left: 70px;
      &:before{
        content: '';
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: $grey;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        @include transition();
      }
      &:after{
        content: '';
        background-image: url(../img/tick.svg);
        width: 24px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
        @include transition();
        display: none;
      }
    }
  }

  &__textarea{
    vertical-align: top;
    resize: none;
    height: 150px;
    font-size: 18px;
    flex: 1 1 auto;
    width: calc(100% - 40px);
    margin: 10px 20px 40px;
    background-color: $grey;
    padding: 15px;
    border: none;
    @include font-family('PT Sans Regular', bold, normal);
    color: $text-color;
    transition: background-color 0.325s 0s ease;
    &:hover{
      background-color: $grey-bg-icon;
    }
    &:focus{
      outline: 3px solid $grey-bg-icon;
      background-color: $white;
    }

    &::-webkit-input-placeholder{
      color: $text-color;
    }
    &::placeholder{
      color: $text-color;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;
    }
    &:focus::placeholder{
      color: transparent;
    }
  }

  &__btn{
    flex: 1 1 100%;
    max-width: 100%;
    padding: 0 20px;
    position: relative;
    @media (min-width: $screen-md){
      text-align: left;
      margin-top: 20px;
    }
  }
  &__warning{
    display: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    @media (min-width: $screen-md){
      display: block;
    }
  }
}


.error{
  text-transform: none;
  color: $red;
  font-size: 14px;
  padding: 10px 10px 0;
  @media (min-width: $screen-md){
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
  }
  @media (min-width: $screen-xl){
    right: auto;
    left: 120px;
  }
}

.btn{
  background-color: $blue;
  @include font-family('PT Sans Regular', bold, normal);
  color: $white;
  border: none;
  padding: 15px 20px;
  width: 100%;
  font-size: 21px;
  text-transform: uppercase;
  @media (min-width: $screen-md){
    width: 50%;
  }
  &:hover, &:focus{
    background-color: #669ec0;
  }
  &:active{
    background-color: #5496bd;
    color: rgba($white, 0.3);
  }
}
