//------------------------------------------------------------------------------
//  Базовые стили
//------------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: $grey;
  color: $text-color;
  @include font-family('PT Sans Regular', normal, normal);
  font-size: $font-size;
}


a {
  color: $text-grey;
  text-decoration: none;
  @include transition();
  &:hover, &:focus {
    text-decoration: none;
  }
}

button, input[type="submit"]{
  @include transition();
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container{
  background-color: $body-bg;
  @media (min-width: $screen-xl){
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  }
}


