mixin form

  +b.SECTION.form-section
    +e.H2.title Оставьте свой отзыв
    +e.P.description Помогите нашим отелям стать лучше! оставьте отзыв о них, а также о посещенных вами достопримечательностях
    +b.FORM.form(action='', method='')

      +e.FIELDSET.fieldset--info
        +e.LEGEND.title Представьтесь:
        +e.UL.list
          +e.item
            +e.text Имя*:
            +e.INPUT.input(type='text', name='Имя', placeholder='Петр')
          +e.item
            +e.text Фамилия*:
            +e.INPUT.input(type='text', name='Фамилия', placeholder='Иванов')
          +e.item
            +e.text Отчество*:
            +e.INPUT.input(type='text', name='Фамилия', placeholder='Александрович')

      +e.FIELDSET.fieldset--contacts
        +e.LEGEND.title Контактная информация:
        +e.UL.list
          +e.item
            +e.text Телефон*:
            +e.LABEL.label--tel
              +e.INPUT.input(type='tel', name='Мобильный телефон', placeholder='Введите телефон')
              svg(width='18', height='18')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#phone')
            +b.error Ошибка, перепроверьте номер
          +e.item
            +e.text Электронная почта*:
            +e.LABEL.label--email
              +e.INPUT.input(type='email', name='Электронная почта', placeholder='Введите email')
              svg(width='16', height='12')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#mail')
            //- +b.error Ошибка, перепроверьте адрес

      +e.FIELDSET.fieldset--impression
        +e.LEGEND.title Ваше общее впечатление:
        +e.UL.list
          +e.impression-block
            input(type='radio', id='impression1', name='Общее впечатление', value='Скорее положительное', checked)
            label(for='impression1') Скорее положительное
          +e.impression-block
            input(type='radio', id='impression2', name='Общее впечатление', value='Скорее отрицательное')
            label(for='impression2') Скорее отрицательное
          +e.impression-block
            input(type='radio', id='impression3', name='Общее впечатление', value='Затрудняюсь ответить')
            label(for='impression3') Затрудняюсь ответить

      +e.FIELDSET.fieldset--sights
        +e.LEGEND.title Посещенные достопримечательности:
        +e.UL.list
          +e.sights-block
            input(type='checkbox', id='sights1', name='Посещенные достопримечательности', value='Мост дьявола')
            label(for='sights1') Мост дьявола
          +e.sights-block
            input(type='checkbox', id='sights2', name='Посещенные достопримечательности', value='Гора-колокол')
            label(for='sights2') Гора-колокол
          +e.sights-block
            input(type='checkbox', id='sights3', name='Посещенные достопримечательности', value='Слайд-парк')
            label(for='sights3') Слайд-парк
          +e.sights-block
            input(type='checkbox', id='sights4', name='Посещенные достопримечательности', value='Красные скалы')
            label(for='sights4') Красные скалы

      +e.FIELDSET.fieldset--text
        +e.LEGEND.title Опишите свои эмоции:
        +e.TEXTAREA.textarea(name='Восторги', placeholder='Опишите подробно все свои восторги')

      +e.btn
        +b.BUTTON.btn(type='submit') Отправить отзыв
        +e.warning * - обязательные поля


